<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fan.customMapper.UsersMapper">

    <select id="findByUserName" parameterType="String" resultType="Users">
        select id,username,password from users where username = #{username}
    </select>

    <select id="findById" parameterType="String" resultType="Users">
        select permission from users where id = #{id}
    </select>
</mapper>